@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-orange: #f45904;
  --color-black: #000;
  --color-white: #fff;
  --color-yellow-500: #fee227;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-orange: #f45904;
    --color-black: #000;
    --color-white: #fff;
    --color-yellow-500: #fee227;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--color-black);
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffe32ecf;
}

.gradient-radial-1 {
  background-image: radial-gradient(
    circle closest-side,
    rgba(239, 68, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.gradient-radial-2 {
  background-image: radial-gradient(
    circle closest-side,
    rgba(255, 214, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.img-mask {
  mask-image: linear-gradient(black 90%, transparent);
}
