@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

:root {
  --color-orange: #f45904;
  --color-black: #000;
  --color-white: #fff;
  --color-yellow-500: #fee227;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-orange: #f45904;
    --color-black: #000;
    --color-white: #fff;
    --color-yellow-500: #fee227;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--color-black);
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #ffe32ecf;
}
